{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-2 no-pad">
                        <div class="user-image">
                            <img class="nav-profile-img rounded-circle" src="{{ '/uploads/avatar_profile.png'  }}" style="width: 50%; height: auto" alt="Image de la figure">
                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad">
                            <h3>Welcome back, {{ app.user.username }}</h3>
                            <a class="btn btn-labeled btn-info" href="#">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h3>FIGURES</h3>
                        <h4>5</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>COMMENTAIRES</h3>
                        <h4>25</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>LIKES</h3>
                        <h4>992</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

