{% extends 'base.html.twig' %}

{% block title %}Créer une figure{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle figure</h1>
    {{ include('snow_trick/_form.html.twig', { button: 'Créer'}) }}
{% endblock %}





