{% extends 'base.html.twig' %}

{% block title %}Editer une figure{% endblock %}

{% block body %}
    <h1>Editer la figuree</h1>
    {{ include('snow_trick/_form.html.twig', { button: 'Editer'}) }}
{% endblock %}



