{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4 text-center">
    <h1>Bienvenue dans le monde du Snowboard !</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        {% for trick in tricks %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{{ path( 'trick_show', {'id': trick.id} ) }}" class="btn btn-primary">{{trick.title}}</a>
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-warning">Editer</a>
                        <a href="#" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}




