{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{trick.title}}</h2>
        {{trick.description | raw}}
        <div class="metadata">Ajoutée le {{trick.createdAt | date('d/m/y')}} à {{trick.createdAt | date('H:i')}}
        </div>
    </article>



{% endblock %}