{% extends 'base.html.twig' %}

{% block title %}Créer une figure{% endblock %}

{% block body %}
    <div class="add_trick_container text-center">
        <h1 class="h3 font-weight-normal">Ajouter une figure</h1>
        <hr>
        {{ include('admin/_form.html.twig', { button: 'Créer'}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addVideos.js') }}"></script>
{% endblock %}


