body {
    background-color: lightgray;
}

.registration, .form-login, .comments, .grid-container {
   margin: 0 auto;
    width: 40%;
    text-align: center;
}

.home{
    background-image: url("../images/empty.jpg");
    padding-bottom: 540px;
}
