body {
    background: url("../images/mountains-peaks-snow.jpg") no-repeat fixed;
}

.navbar {
    background: blue;
}

/* REGISTRATION  LOGIN AND RESETTING PASSWORD*/
.form_registration, .form_login, .resetTing_password, .user_avatar_update {
    width: 100%;
    max-width: 450px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 20px;

}

.form_login, .resetTing_password {
    margin: 90px auto 240px;
}

.form_registration {
    margin: 60px auto 150px;
}

.resetTing_password {
    margin: 100px auto 300px;
}

.user_avatar_update{
    margin: 100px auto 350px;
}

/* FOOTER */
.footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
    margin-top: 20px;
}

/* HOME PAGE */
.home_page_container, .trick_show_container, .comment_admin_container, .add_trick_container, .edit_trick_container{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 0;
    background-color: white;
    padding: 10px;
    border-radius: 20px;

}

.comment_admin_container, .add_trick_container{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 0;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.form_comments {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

/* Pagination */
.pagination{
    width: 100%;
    max-width: 400px;
    margin: 0 auto 25px;
}

.page-link{
    background-color: lightgray;
    color: #222222;
}

.page-item.active .page-link{
    background-color: #2C3E50;
   color:white;
}

.page-item.disabled .page-link{
    background-color:  lightgray;
    color: #222222;
}

.page-item .page-link:hover{
    background-color: #2C3E50;
    color:white;
}

/* ERROR PAGES */
.error_404_container, .error_403_container, .error_container{
    width: 100%;
    max-width: 570px;
    margin: 50px auto 60px;
    background-color: white;
    padding: 50px 0 400px;
    border-radius: 20px;
}

.error_container{
    width: 100%;
    max-width: 720px;
    margin: 50px auto 60px;
    background-color: white;
    padding: 50px 0 330px;
    border-radius: 20px;
}




