{% extends 'base.html.twig' %}

{% block title %}Account update{% endblock %}

{% block body %}
    <div class="user_avatar_update">
        <h1 class="h4 font-weight-normal text-center">Changer votre photo de profil</h1>
        {{ form_start(avatarUpdateForm) }}

        {{ form_row(avatarUpdateForm.avatarFile, {'label': "photo de profil",
            'attr': {'placeholder': "Choisir une photo"}}) }}

        <button class="btn btn-lg btn-primary" type="submit">Mettre à jour</button>

        {{ form_end(avatarUpdateForm) }}
    </div>
{% endblock %}
