{% extends('base.html.twig') %}

{% block title %}Activation de votre compte{% endblock %}

{% block body %}
    <div class="grid-container">
        <h1 class="h3 mb-3 mt-3 font-weight-normal">Activation de votre compte</h1>
        <p>
            Bonjour, <br>
            Votre compte a déjà été activé ou son temps d'activation a expiré !
        </p>
    </div>
{% endblock %}
