{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="error_404_container text-center ">
        <h1 class="h3 error_404 font-weight-bold">Page non trouvée !</h1>
        <p>
            La page demandée n'a malheureusement pas pu être localisée. <br>
            Le lien que vous avez suivi peut être incorrect ou la page peut avoir été supprimée.
        </p>
    </div>
{% endblock %}