<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe</title>
</head>
<body>
<p>
    Bonjour, <br>
    Cliquez sur ce lien pour réinitialiser votre mot de passe.
    {# pour que le lien fonctionne, il est indispensable qu'il soit absolu. #}
    <a href="{{absolute_url(path('resetting', {'id': member.id, 'token': member.token}))}}">Réinitialiser votre mot de passe</a>
</p>
</body>
</html>